body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#87CEEB;
}

.container{

    width:420px;
    margin:50px auto;
    background:white;
    padding:25px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,.2);

    text-align:center;
}

h1{

    color:#0077cc;
}

.search-box{

    display:flex;

    justify-content:center;

    margin-bottom:25px;
}

input{

    width:230px;

    padding:10px;

    border:1px solid gray;

    border-radius:5px;
}

button{

    padding:10px 15px;

    margin-left:10px;

    background:#0077cc;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;
}

button:hover{

    background:#005fa3;
}

.weather-card{

    text-align:left;

    margin-top:20px;

    font-size:18px;

    line-height:1.8;
}